.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.feature {
  /* border: solid 1px; */
  margin-top: 1em;
  padding: 1em;
}
