.td-content {
    > h2 {
        border-bottom: solid 4px gray;
    }

    > h3 {
        border-bottom: solid 2px gray;
    }

    > h4 {
        border-bottom: solid 1px gray;
    }

    > h5 {
        border-bottom: solid 1px gray;
    }
}
