{{ partial "head.html" . }}
  <body class="{{ .Site.Params.themeColor }} {{if .Site.Params.layoutReverse}}layout-reverse{{end}}">
  {{ partial "sidebar.html" . }}
    <div class="content container">

        <a href="{{ .Site.BaseURL }}">
          <img src="{{ .Site.BaseURL }}images/vrm/vrm_header.png" alt="VRM - humanoid 3d avatar format for VR">
        </a>

        {{ range .Translations }}
        <li>
          <a class="language" href="{{ .Permalink }}"><i class="fa fa-globe">&nbsp;</i>{{ .Title }}({{ .Lang }})</a>
        </li>
        {{ end }}

    {{ block "main" . -}}{{- end }}

        <a href="{{ .Site.BaseURL }}">
          <img src="{{ .Site.BaseURL }}images/vrm/vrm_header.png" alt="VRM - humanoid 3d avatar format for VR">
        </a>

    </div>

    {{ template "_internal/google_analytics_async.html" . }}
  </body>
</html>
