{{ partial "head.html" . }}
  <body class="{{ .Site.Params.themeColor }} {{if .Site.Params.layoutReverse}}layout-reverse{{end}}">
  {{ partial "sidebar.html" . }}
    <main class="content container">
    {{ if .IsTranslated -}}
      <ul class="languages">
        {{ range .Translations -}}
          <li>
            <a href="{{ .Permalink }}"><i class="material-icons">language</i> {{ .Title }} ({{ .Lang }})</a>
          </li>
        {{- end }}
      </ul>
    {{- end }}

    {{ block "main" . -}}{{- end }}
    </main>

    {{ template "_internal/google_analytics_async.html" . }}
  </body>
</html>
