{{ define "main" -}}
<a href="{{ .Site.BaseURL }}">
  <img src="{{ .Site.BaseURL }}images/vrm/vrm_header.png" alt="VRM - humanoid 3d avatar format for VR">
</a>

<h1>Articles</h1>

{{ $paginator := .Paginate .Data.Pages .Site.Params.ArticlesOnList }}
<div class="posts">
{{ range $post := $paginator.Pages -}}
  {{ partial "each_article.html" $post }}
{{- end }}
</div>

{{ partial "pagination.html" . }}

<a href="{{ .Site.BaseURL }}">
  <img src="{{ .Site.BaseURL }}images/vrm/vrm_header.png" alt="VRM - humanoid 3d avatar format for VR">
</a>
{{- end }}
