@media (min-width: 48em) {
  .content {
    max-width: 58rem;
  }
}

.sidebar {
  background-color: #0075C2;
}

.content a,
.related-posts li a:hover {
  color: #0075C2;
}

.share {
  display: inline-block;
  vertical-align: top;
}

.all-articles {
  text-align: center;
}

article#content {
  line-height: 1.4;
}

.post {
  margin-bottom: 1em;
}

.post .post-date {
  font-size: 0.7em;
  text-align: right;
  margin-bottom: 0;
}

.post p.summary {
  font-size: 0.8em;
  padding-left: 1.2em;
}

.pagination-container {
  text-align: center;
}

.pagination {
  display: inline-block;
  margin: 0;
}

.pagination a,
.pagination span {
  margin: 0 0.4em;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  width: 1.2em;
}

.pagination a.current {
  background-color: #0075c2;
  color: white;
  border-radius: 4px;
}

.languages {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 0 0 0.5em;
  padding: 0;
  list-style: none;
}

@media (min-width: 48em) {
  .languages {
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }
}

.languages li {
  margin: 0;
  padding: 0;
}


@media (min-width: 48em) {
  .languages li + li {
    margin-left: 0.5em;
  }
}

.languages .material-icons {
  vertical-align: middle;
  font-size: 1.1em;
}
