<!doctype html>
<html lang="{{ .Site.Language.Lang }}" class="no-js">
  <head>
    {{ partial "head.html" . }}
    <style>
      .td-content {
        line-height: 1.8;
      }

      .td-content p {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
      }

      .td-content > h2 {
        font-size: 1.5rem;
        font-weight: bold;
        border-bottom: none;
      }

      .td-content li {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
      }
    </style>
  </head>
  <body class="td-{{ .Kind }}">
    <header>
      {{ partial "navbar.html" . }}
    </header>
    <div class="container-fluid td-outer">
      <div class="td-main">
        <div class="row flex-xl-nowrap">
          <div class="d-none d-xl-block col-xl-2 td-toc d-print-none">
            {{ if not .Params.notoc }}
            {{ with .TableOfContents }}
            {{ if ge (len .) 200 }}
            {{ . }}
            {{ end }}
            {{ end }}
            {{ end }}
          </div>
          <main class="container" role="main">
            {{ partial "version-banner.html" . }}
            {{ block "main" . }}{{ end }}
          </main>
        </div>
      </div>
      {{ partial "footer.html" . }}
    </div>
    {{ partial "scripts.html" . }}
  </body>
</html>
