{{- define "hierarchy" }}
<ul>
    {{- /* 通常の記事ページをループ処理 */}}
    {{- range .Pages }}
    <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
    {{- end }}
    {{- /* セクションページをループ処理 */}}
    {{- range .Sections }}
    <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
    {{- template "hierarchy" . }}
    {{- end }}
</ul>
{{- end }}
{{ define "main"}}
<main id="main">
    <div>
        {{ if eq .Site.Language.Lang "ja" }}
        <h2>最近更新された記事</h2>
        {{ end }}
        {{ if eq .Site.Language.Lang "en" }}
        <h2>Recently Updated Articles</h2>
        {{ end }}
        <ul>
            {{ range first 10 .Site.RegularPages.ByLastmod.Reverse }}
            <li>
                <b><a href="{{.RelPermalink}}">{{.Title}}</a></b>
                <time>{{.Lastmod.Format "2006-01-02"}}</time>
            </li>
            {{ end }}
        </ul>

        <h2>SiteMap</h2>
        {{ if eq .Site.Language.Lang "ja" }}
        {{ range .Site.Home.Sections }}
        {{ if eq .Title "ドキュメント" }}
        {{ template "hierarchy" . }}
        {{ end }}
        {{ end }}
        {{ end }}

        {{ if eq .Site.Language.Lang "en" }}
        {{ range .Site.Home.Sections }}
        {{ if eq .Title "Documentation" }}
        {{ template "hierarchy" . }}
        {{ end }}
        {{ end }}
        {{ end }}
    </div>
</main>
{{- end }}